.container{
    height: 40px;
    width: 400px;
    background-color: #282A36;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    margin: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px;
}
.IconButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    transition: 0.3s;
    margin: 5px;
}
.IconButtons:hover{
    filter: grayscale(1);
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}